<style>
 
</style>
<footer class="footer">
  <div class="container footer-wrapper">
    <img src="{{"images/lp/logo.png" | relURL}}" alt="Logo Gardener" class="logo"/>
    <ul class="media-wr">       
      <li>
        <a target="_blank" href="https://github.com/gardener/potter-hub">
          <img src="{{"images/branding/github-mark-logo.png" | relURL}}" class="media-icon" />
          <div class="media-text">GitHub</div>
        </a>
      </li>                   
    </ul>
    <span class="copyright">Copyright 2021 Potter project authors. Privacy Statement</span>
  </div>
</footer>
